body {
    background-image: url("images/cute-haunted-house.png");
    background-repeat: no-repeat;
    background-size: 51rem;
    font-family: sans-serif;
    max-width: 100vh;
    display: flex;
  }

.board {
    height: 560px;
    min-width: 560px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 400px;
    margin-top: 200px;
    background-color: rgba(109, 127, 151, 0.5);
    padding:5px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
    color: #887b6c;
}

.cell {
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
}

li {
    list-style: none;
}

h3 {
 font-family: "Montserrat", sans-serif;
 text-transform: uppercase;
 margin-top: 10px;
}

h1 {
 font-family: "Montserrat", sans-serif;
 text-transform: uppercase;
 margin-top: -10px;
}

.invisible {
    background-color: white;
}

.game-stats {
    flex-direction: column;
    flex-wrap: wrap;
}

.high-score {
    background-color: #f2b0ff;
    border-radius: 15px;
    width: 40%;
    height: 40%;
    text-align: center;
    background-image: linear-gradient(#dbb6ff, #dbb6ff);
    box-shadow: 0 2px 4px #00000080 inset, 0 1px 0 #fff;
    color: #6a6056;
    flex-basis: content;
}

.score-board {
  background-color: #f2b0ff;
  border-radius: 15px;
  width: 40%;
  height: 40%;
  text-align: center;
  background-image: linear-gradient(#dbb6ff, #dbb6ff);
  box-shadow: 0 2px 4px #00000080 inset, 0 1px 0 #fff;
  color: #6a6056;
}

.move-counter {
    background-color: #f2b0ff;
    border-radius: 15px;
    width: 40%;
    height: 40%;
    text-align: center;
    background-image: linear-gradient(#dbb6ff, #dbb6ff);
    box-shadow: 0 2px 4px #00000080 inset, 0 1px 0 #fff;
    color: #6a6056;
  }
