@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

body {
    font-family: sans-serif;
    max-width: 100vw;
    max-height: 100vh;
  }

.hidden {
    display: none;
}

h3 {
    text-transform: uppercase;
    font-weight: 700;
    color: #282828;
    margin: 5px;
    margin-bottom: -10px;
}

h1 {
    text-transform: uppercase;
}

/* flex directions */
.flex {
    display: flex;
}


.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.flex-direction-column {
    flex-direction: column;
}

/* additional styling */
.logo {
    width: 300px;
}

nav {
    padding: 0px 30px 30px 30px;
}
.nav-link-container {
    width: 15%;
}

.toggle-login {
    width: 100vw;
}

#login-button {
    background-image: url('images/login-button.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    height: 50px;
    width: 80px;
}

#logout-button {
    background-image: url('images/logout-button.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    height: 50px;
    width: 80px;
}

.board {
    height: 560px;
    width: 560px;
    flex-wrap: wrap;
    background-color: rgba(109, 127, 151, 0.5);
    padding:5px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
    color: #887b6c;
}

.cell {
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
}

.high-score-container, .game-data-container {
    width: 15%;
    align-self: flex-start;
}

.high-score-container {
    background-color: #996ACC;
    border-radius: 15px;
    text-align: center;
    background-image: linear-gradient(#dbb6ff, #dbb6ff);
    box-shadow: 0 2px 4px #00000080 inset, 0 1px 0 #fff;
    color: #6a6056;
}

.game-data-container{
    height: 23vh;
    background-color: #f2b0ff;
    border-radius: 15px;
    background-image: linear-gradient(#dbb6ff, #dbb6ff);
    box-shadow: 0 2px 4px #00000080 inset, 0 1px 0 #fff;
    color: #6a6056;
}

#sign-up-button {
    background-image: url('images/sign-up.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    height: 50px;
    width: 80px;
}

.new-game {
    height: 60vh;
}
.new-game-button {
    border: none;
    background-color: transparent;
    background-image: url('images/new-game.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 60%;
    cursor: pointer;
}