@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    width: 100%;
    min-height: 100vh;
  }
/* flex directions */
.flex {
    display: flex;
}


.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.flex-direction-column {
    flex-direction: column;
}

/* additional styling */
.logo {
    width: 300px;
}

nav {
    padding: 30px 30px 30px 30px;
}

h1 {
    font-size: 40px;
    text-align: center;
}

.register {
    /* padding: 50px 70px; */
    padding-top: 5em;
    min-height: 23vh;
    width: 20%;
    color: gray;
}

#username-input, #password-input {
    height: 5vh;
    padding-left: 0.5em;
    border: none;
    border-bottom: 2px solid #3b3b3b;
}
/* .container i {
    color: white;
    cursor: pointer;
} */

.reg-error-message {
    color: red;
}

.hidden {
    display: none;
}

#register, #reset {
    border-style: none;
    border-radius: 8px;
    padding: 10px;
}

#back-button {
    background-color: transparent;
    border: none;
}